.left-sidebar {
  position: relative;
  background-color: $light-color;

  @media (min-width: $small + 1) {
    flex: 0 0 300px;
    padding: 0 15px 15px 20px;
    order: 2;

    &::after {
        position: absolute;
        top: 15px;
        right: 0;
        height: 90%;
        content: "";
        border-right: 1px solid darken($light-color, 7%);
    }
  }

  @media (max-width: $small) {
    flex: 1 0 100%;
    padding: 0 20px 20px 20px;
    order: 3;
  }
  
  ul {
    padding-left: 20px;
  }

  li {
    position: relative;
    font-style: italic;
    color: $base-color;
    padding: 7px;
    list-style: none;

    &::before {
        position: absolute;
        margin-left: -15px;
        content: url("../img/main-list-arrow.png");
    }

    span {
      position: relative;

      &::after {
          position: absolute;
          right: 0;
          left: 0;
          bottom: -10px;
          height: 1px;
          content: "";
          background-color: darken($light-color, 7%);
      }
  }
  }
}