.container {
  display: flex;
  margin-bottom: 50px;
  padding: 15px;
  flex-wrap: wrap;
  background-color: rgba(#ffffff, 0.1);
}

.main {
  background-color: $light-color;

  p {
    text-align: justify;
  }

  @media (min-width: $small + 1) {
    flex: 1 0 calc(100% - #{$col-size});
    padding: 0 20px 15px 15px;
    order: 3;
   }

  @media (max-width: $small) {
    flex: 1 0 100%;
    padding: 20px;
    order: 2;
  }
}